@import url('https://fonts.googleapis.com/css?family=Arimo');

.heading {
	font-family: arimo;
	text-align: center;
	margin: 0px;
	padding-top: 50px;
	background-color: white;
}

.projects {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
	margin-bottom: 100px;
}

.proj {
	display: inline-block;
	margin: 3%;
	width: 80%;
	vertical-align: top;

	@media screen and (min-width: 64rem) {
		width: 40%;
	}

}

.projCard {
	display: inline-block; 
	width: 100%; 
	height: 100%; 
	box-shadow: 0 0 18px #727272;
}

.projImg {
	width: 100%; 
	height: auto;
	z-index: -2;
}

.imgContainer {
	position: relative;
}

.imgContainer:hover > .overlay{
	box-shadow: inset 0px 0px 100px 50px rgba(42,135,208, .7);
}

.imgContainer:hover > .buttonsContainer:hover {
	opacity: 1;
}

.imgContainer:hover .buttonsContainer {
	opacity: .7;
}

.overlayButton:hover {
	color: white;
	background-color: rgba(42,135,208);
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	/*box-shadow: inset 0 0 0 1000px rgba(42,135,208, .7);*/
	opacity: 1;
	transition: box-shadow .5s;

}

.buttonsContainer {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: opacity .5s;
}

.buttonsContainerOverlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.overlayButton {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: arimo;
	font-size: 30px;
	background-color: white;
	border: 2px solid rgba(42,135,208);
	color: rgba(42,135,208);
	text-decoration: none;
	border-radius: 2px;
	margin: 10px;
}

.overlayHiddenButton {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: arimo;
	font-size: 30px;
	background-color: rgba(255, 255, 255, 0);
	border: 2px solid transparent;
	color: transparent;
	text-decoration: none;
	border-radius: 2px;
	margin: 10px;
}

.flexContainer {
	padding-inline-start: 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.navigation {
}

.navButton {
	padding-top: 5px; 
	padding-bottom: 5px; 
	padding-left: 20px; 
	padding-right: 20px; 
	font-family: arimo; 
	background-color: white;
	color: rgba(42,135,208); 
	text-decoration: none; 
	border-radius: 2px;
	margin-left: 20px;
	margin-right: 20px;

	@media screen and (max-width: 64rem) {
		display: inline-block;
		margin-top: 5px;
		margin-bottom: 5px;
		width: 150px;
	}
}

.navButton:first-child {
	margin-left: 0px;
	@media screen and (max-width: 64rem) {
		margin-left: 20px;
		width: 150px;
	}
}

.navButton:last-child {
	margin-right: 0px;
	@media screen and (max-width: 64rem) {
		margin-right: 20px;
	}
}

.footer {
	position: absolute; 
	left: 0; 
	width: 100%; 
	padding: 0 0 5vh 0; 
	background-color: rgba(42,135,208); 
	text-align: center;
}

li {
	display: inline-block;
	list-style: none;
}

li img {
	height: 40px; 
	width: auto; 
	display: inline-block;
}
